body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #fffffe;
}

a {
  text-decoration: none;
  color: #001858;
}
a:visited {
  color: #213c84;
}

.logo {
  width: 100px;
  height: 100px;
}

/* Header menu*/

.hamburger-icon {
  transform: scale(2.5);
  color: #232946;
  margin: 20px;
}

.navbar__hamburger-content {
  display: none;
}

.navbar__li {
  width: fit-content;
  font-weight: 800;
  padding: 5px;
  margin: 10px;
  color: #001858;
}
.navbar__li a:hover {
  color: rgb(230, 127, 53);
  transition: 0.3s ease;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto;
}

.navbar__ul {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  gap: 10px;
  justify-content: center;
}

/* hover was here*/

.hero-page {
  background-image: url(../Images/cat_small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  color: whitesmoke;
}

.hero-page__content {
  padding-bottom: 10px;
}

.hero-page__cta-button {
  text-decoration: none;
  border: 1px solid #3498db;
  background: #3da9fc;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 20px;
  margin-left: 10px;
  color: aliceblue;
}
.hero-page__cta-button:hover {
  background-color: #fffffe;
  color: #3da9fc;
  transition: 0.3s ease;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}

.headers {
  text-align: center;
  margin-bottom: 10px;
}

.service-card {
  margin: 15px;
  padding: 20px 20px 10px 20px;
  background-color: rgba(193, 214, 247, 0.5);
  border-radius: 10px;
}
.service-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.service-card__h3--desc {
  margin-left: 20px;
}

footer {
  margin-top: 20px;
  background-color: #232946;
  width: 95%;
  color: white;
  padding: 10px;
}
footer a {
  color: rgb(148, 148, 181);
}
footer a:visited {
  color: #fffffe;
}

.footer__end-logo {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 15px;
}

.footer__socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  list-style-type: none;
}

.footer__socials .fa-brands {
  transform: scale(2);
}
.footer__socials .fa-brands:hover {
  transform: scale(3.5);
  transition: 0.3s ease-out;
}

.footer__ul {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  list-style-type: none;
  padding-left: 0;
}

/*Space between the link*/
.footer__ul li a {
  margin: 0 10px 0 0;
}

.footer__contact-ul {
  list-style-type: none;
}

.footer__copyright {
  padding: 0;
  width: 100%;
  background-color: #7f5af0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: smaller;
}

/* About Page */

video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.about__content {
  margin: 5px 5px 30px 5px;
  line-height: 1.5;
}

.about {
  box-sizing: content-box;
  margin: 50px 0 50px 5px;
}

h3 {
  font-size: 1.5em;
}

.education-work__edu {
  margin: 15px;
}

.education-work__ul {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 0;
  list-style-type: none;
}

.education-work__class {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}

.education-work__school {
  font-size: large;
  font-weight: bold;
}

.education-work__year {
  width: 40px;
  border-radius: 7px;
  padding: 3px;
  color: white;
  background-color: #ef4565;
}

.education-work__course {
  font-style: italic;
}

/* Portfolio Page*/

.portfolio__content {
  text-align: center;
}

.portfolio__ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__li {
  border-radius: 15px;
  padding: 3px 25px;
  margin-bottom: 10px;
  background-color: aliceblue;
}
.portfolio__li:hover {
  background-color: #3da9fc;
  transition: 0.3s ease-in;
}

.portfolio__figure img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}

.portfolio__project-container {
  position: relative;
  text-align: center;
  color: white;
}

.portfolio__project-center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease;
}

.portfolio__project-container:hover .portfolio__figure img {
  opacity: 0.3;
}
.portfolio__project-container:hover .portfolio__project-center-content {
  opacity: 1;
}

.portfolio__port-text {
  background-color: #d8eefe;
  color: #47505b;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.8;
}

/* For the filtering*/
.portfolio__project-container {
  display: none;
}

.show {
  display: block;
}

/* Skills Page*/
.image-aside {
  display: none;
}
.skillz {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
  padding-left: 10px;
}

.skill-desc__desc {
  margin-left: 10px;
}

.item__progress-bar {
  background-color: rgb(192, 192, 192);
  width: 80%;
  border-radius: 15px;
}

.progress-bar__skill {
  background-color: #232946;
  color: aliceblue;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.web {
  width: 89%;
}
.ui {
  width: 91%;
}
.app {
  width: 83%;
}
.problem-solving {
  width: 83%;
}

/*Testimonials*/

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 15px;
}

.test-head {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  align-items: center;
}

.quote-icon i {
  padding: 25px;
  border-radius: 50%;
  background-color: #ef4565;
}

.name-position h4 {
  font-size: 1.25em;
  margin-bottom: 5px;
}
.name-position h5 {
  margin-top: 0;
}

.quote {
  line-height: 1.5;
}

.single-testimonial {
  /* border: 1px solid black; */
  width: 330px;
  border-radius: 5px;
  background-color: rgba(193, 214, 247, 0.5);
  padding: 10px;
  margin-bottom: 20px;
}

/*New Swiper*/
.card {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(193, 214, 247, 0.5);
  padding: 10px;
  margin-bottom: 20px;
}

.slide-content {
  margin: 0 40px;
  /* background-color: #ef4565; */
  overflow: hidden;
  border-radius: 15px;
}

.slide-container {
  /* max-width: 1120px; */
  width: 100%;
  /* background-color: gray; */
  padding: 40px 0;
}

.testimonial__header {
  text-align: center;
}

.testimonials__section {
  margin-top: 100px;
}

/*Contact Me*/
.contact-context__desc {
  margin-left: 10px;
}
summary {
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: #3da9fc;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.FAQ {
  padding: 10px;
}

.faq-title {
  margin-top: 30px;
}

/*Contact Form*/

.form-title {
  padding-left: 10px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 10px;
}

input[type="text"],
select,
textarea {
  width: 93%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 6px 0 16px 0;
  resize: vertical;
}
input[type="email"],
select,
textarea {
  width: 93%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 6px 0 16px 0;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 8px 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Portfolio Details*/

.detail-vid-image video {
  display: none;
}
.detail-desc img {
  display: none;
}

.portfolio-details__img img {
  width: 100%;
  border-radius: 20px;
}

.portfolio-info {
  width: 350px;
  margin-left: 20px;
  background-color: #ffeaf0;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail-desc {
  padding: 10px;
}

.portfolio-info-desc {
  padding-left: 13px;
}

/* Desktop and Tablet*/
@media screen and (min-width: 780px) {
  /*Header*/
  .hamburger-icon {
    display: none;
  }
  .navbar__hamburger-content {
    display: block;
  }
  .navbar__hamburger-content ul {
    display: flex;
  }

  /*Hero Page*/
  .hero-page__title {
    margin-bottom: 10px;
  }
  .hero-page__description {
    width: 40%;
    margin-bottom: 25px;
  }
  .hero-page__cta-button {
    margin-bottom: 50px;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .headers {
    grid-column: span 3;
  }
  .service-card {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer {
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 40px;
    justify-items: center;
  }
  .footer__copyright {
    grid-column: span 3;
  }
  .footer__logo-socials {
    margin: 10px 10px 10px 0px;
  }
  .footer__p--powered {
    text-align: center;
  }

  /*About Page*/
  .main__about-vid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*justify-items: center;*/
  }
  video {
    /*Change the width somehow*/
    height: 400px;
  }
  .education-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .education-work h2 {
    grid-column: span 2;
    text-align: center;
  }

  /*Skills*/
  .image-aside {
    display: block;
  }
  .image-aside img {
    height: 500px;
    border-radius: 20px;
  }
  .skill-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
  }
  .skills-image__skill-desc p {
    width: 500px;
  }
  .skills-image__skill-desc h2 {
    text-align: start;
    margin-left: 15px;
  }
  .skillz {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }

  .portfolio__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .portfolio__li {
    margin-right: 15px;
  }
  .portfolio__total-project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
  .portfolio__project-center-content {
    max-height: 245px;
    overflow-y: scroll;
  }

  /*Contact Form*/
  .contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    /*align-items: center;*/
  }

  /*Portfolio Details*/
  .detail-vid-image video {
    display: block;
  }

  .detail-vid-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .portfolio-details__img img {
    max-height: 400px;
  }
  .portfolio-info {
    width: auto;
    display: flex;
    justify-content: space-around;
  }

  .detail-desc img {
    display: block;
  }
  .detail-desc img {
    height: 350px;
    border-radius: 20px;
  }
  .detail-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 20px;
  }

  .first {
    order: 1;
  }
}

/*Landscape*/
@media screen and (min-width: 480px) and (max-width: 780px) {
  footer {
    width: 100dvw;
  }
  .services {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
  }

  /*About*/
  .education-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .education-work h2 {
    grid-column: span 2;
    text-align: center;
  }

  /*Portfolio*/
  .portfolio__filter-wrapper {
    display: flex;
    justify-content: center;
  }
  .portfolio__project-filter {
    max-width: 500px;
  }
  .portfolio__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio__total-project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .portfolio__project-center-content {
    max-height: 220px;
    overflow-y: scroll;
  }

  /*Skills*/

  .image-aside {
    display: none;
  }
  .skillz {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .testimonials h2 {
    grid-column: span 2;
  }

  /*Portfolio Details*/
  .detail-vid-image video {
    display: block;
  }
  .detail-vid-image video {
    align-self: center;
  }

  .detail-vid-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .portfolio-details__img img {
    max-height: 400px;
  }
  .portfolio-info {
    width: auto;
    display: flex;
    justify-content: space-around;
  }

  .detail-desc img {
    display: block;
  }
  .detail-desc img {
    height: 350px;
    border-radius: 20px;
  }
  .detail-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 20px;
    gap: 10px;
  }

  .first {
    order: 1;
  }
}

/* Hover menu for mobile portrait and mobile landscape*/
@media screen and (max-width: 780px) {
  .navbar__hamburger-menu:hover .navbar__hamburger-content {
    position: absolute;
    height: auto;
    width: 250px;
    top: 0;
    right: 3px;
    background-color: rgba(240, 248, 255, 0.6);
    overflow-x: hidden;
    display: grid;
    gap: 10px;
    justify-content: center;
    border-radius: 20px;
  }

  .navbar__hamburger-menu:hover .hamburger-icon {
    display: none;
  }
}
